@media (max-width: 768px) {
  h1, h2 {
    font-size: 40px;
  }
  .navbar {
    height: 80px;
  }
  .navbar-brand {
    font-size: 24px;
    margin-right: 10px;
  }
  .navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F6F6EA' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    margin-bottom: 5px;
  }
  .navbar-toggler:focus {
    color: #fcf1c5 !important;
    text-decoration: none;
    background: none;
    outline: none;
  }
  .offcanvas {
    background-color: #1f5114;
    width: 200px !important;
    height: 350px;
  }
  .offcanvas-title {
    color: #F6F6EA;
    font-family: "Abhaya", sans-serif;
  }
  .offcanvas .nav-link {
    color: #F6F6EA;
    text-decoration: none;
  }
  a.nav-link {
    color: #F6F6EA !important;
  }
  .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23F6F6EA' viewBox='0 0 16 16'%3e%3cpath d='M2 2l12 12M2 14L14 2' stroke='%23F6F6EA' stroke-width='2'/%3e%3c/svg%3e") !important;
  }
  #landing .container {
    margin: 50px 20px;
  }
  #landing .textbox {
    font-size: 45px;
    max-width: 100%;
  }
  #landing p {
    font-size: 18px;
  }
  #landing .connect {
    flex-direction: column;
    align-items: flex-start;
  }
  #winner {
    padding-top: 68px;
    min-height: 100vh;
  }
  #winner .container {
    padding: 10px 25px;
  }
  #winner .img-fluid {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  #winner .winner-flex {
    flex-direction: column;
    gap: 0;
    font-size: 12px;
    order: 2;
    padding: 0;
  }
  #winner .winner-card1,
  #winner .winner-card2 {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    gap: 1rem;
  }
  #winner .winner-card1 .winner1, #winner .winner-card1 .winner2,
  #winner .winner-card2 .winner1,
  #winner .winner-card2 .winner2 {
    font-size: 17px;
    margin-top: 10px;
  }
  #winner .winner-card1 .winner2,
  #winner .winner-card2 .winner2 {
    order: 2;
  }
  #winner .winner-card1 #img2,
  #winner .winner-card2 #img2 {
    order: 1;
  }
  #winner .textbox {
    order: 1;
    justify-self: center;
    align-self: center;
    margin-bottom: 16px;
    margin-left: 0;
  }
  #winner .textbox h2 {
    font-size: 40px;
  }
  #winner .textbox .winnerbreak br {
    display: none;
  }
  #winner .textbox .winnerbreak::after {
    content: " ";
  }
  .flex {
    display: grid;
    grid-template-rows: min-content min-content;
  }
  #who-we-are {
    scroll-margin-top: 68px;
    padding-top: 68px;
    height: -moz-min-content;
    height: min-content;
    max-height: none;
  }
  #who-we-are .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #who-we-are #heading, #who-we-are #heading2 {
    font-size: 40px;
  }
  #who-we-are .cards-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
  }
  #who-we-are .img {
    width: 175px;
    height: 175px;
    margin-top: 0 !important;
  }
  #who-we-are .card-title {
    padding: 0px;
  }
  #who-we-are .col {
    width: 90%;
    height: auto;
  }
  #who-we-are .card {
    gap: 10px;
  }
  #who-we-are .card .card-title {
    font-size: 24px;
  }
  #who-we-are p {
    font-size: 12px;
  }
  #who-we-are .grid2 {
    padding: 0;
    padding-top: 30px;
  }
  #who-we-are .grid2 #heading2 {
    justify-self: center;
  }
  #who-we-are .grid2 .partner-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  #who-we-are .grid2 .partner-card .partner-img {
    margin: 23px auto 10px auto;
  }
  #who-we-are .grid2 .partner-card .card-body {
    height: 100%;
    z-index: 100;
  }
  #who-we-are .grid2 .partner-card .card-body h3 {
    font-size: 24px;
  }
  #who-we-are .grid2 .partner-card .card-body p {
    font-size: 12px;
  }
  #stories {
    max-height: unset;
    padding-top: 68px;
    display: block;
  }
  #stories .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 55px;
  }
  #stories .container h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: center;
  }
  #stories .container .story-title {
    margin-top: 10px;
    font-size: 20px;
    justify-self: center;
  }
  #stories .container .story-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 10px 25px 10px 25px;
    gap: 20px;
  }
  #stories p {
    font-size: 17px;
    text-align: center;
  }
  #stories .story1,
  #stories .story2,
  #stories .story3,
  #stories .story4,
  #stories .story5 {
    grid-column: span 1;
    height: auto;
  }
  #submit-yours {
    padding-top: 68px;
    display: flex;
    min-height: 130vh;
    height: auto;
  }
  #submit-yours .container {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
  }
  #submit-yours .container h2 {
    font-size: 40px;
    text-align: center;
    margin: 16px 0 16px 0;
  }
  #submit-yours .layout {
    grid-template-columns: 1fr;
  }
  #submit-yours .form {
    height: 1000px;
    padding: 20px;
  }
  #submit-yours .form-inputs {
    margin-bottom: 0;
  }
  #join-us {
    min-height: 135vh;
    height: auto;
  }
  #join-us .container {
    padding: 10px 25px;
  }
  #join-us .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  #join-us .card1, #join-us .card2 {
    padding: 20px;
    height: 500px;
  }
  #join-us .card1,
  #join-us .card2,
  #join-us .form-inputs,
  #join-us button {
    width: 100%;
  }
  #join-us h2 {
    font-size: 40px;
    text-align: center;
    margin: 16px 0 16px 0;
  }
  #join-us h3 {
    padding: 10px;
  }
  #footer .content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #footer .links {
    flex-direction: column;
    align-items: center;
  }
  #footer .footer-contact {
    text-align: center;
    align-items: center;
  }
}/*# sourceMappingURL=mediaqueries.css.map */